body{
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  min-height: 100vh;
  background-color: aliceblue;
}

header {
  box-sizing: border-box;
  height: 1fr;
  padding: 10px 0px 0px 0px;
  background-color: aquamarine;
  width: 200px;
  align-content: center;
  justify-content: top;
  align-items: center;
  text-align: center;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  font-size: larger;
}
form{
  padding: 0px;
  margin: 5px;
}
.sideButton{
  width: 190px;
  margin: 0px;
}


footer{
  position: fixed;
  bottom: 0px;
  width: 200px;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 5px 25px 5px;
  
}


main {
  align-content: center;
  justify-content: center;
  align-items: center;
  flex: 0 800px;
  display: flex;
  flex-direction: column;
}
#TheLogo{
  max-width: 800px;
  width: 100%;
}

footer{
  background-color: aquamarine;
}