body{
  display: grid;
  grid-template-columns: 0.1fr 0.8fr;
  min-height: 100vh;
  background-color: aliceblue;
}

header {
}
.Navigation {
  box-sizing: border-box;
  height: 1fr;
  padding: 5px 1em;
  background-color: aquamarine;
}

menu .navItem {
  padding: 0 0.3em;
}

main {
  align-content: center;
  justify-content: center;
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer{
  background-color: aquamarine;
}