body{
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  min-height: 100vh;
  background-color: aliceblue;
  font-family: 'Lexend', sans-serif;
}

header {
  box-sizing: border-box;
  height: 1fr;
  padding: 10px 0px 0px 0px;
  background-color: rgb(99, 210, 151);
  width: 200px;
  align-content: center;
  justify-content: top;
  align-items: center;
  text-align: center;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  font-size: larger;
}
form{
  padding: 0px;
  margin: 5px;
}
.sideButton{
  width: 190px;
  margin: 0px;
  border-radius: 5px;
  border-width: 5px;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-left-color:rgba(255, 255, 255, 0.5);
  border-bottom-color: rgb(0, 0, 0, 0.5);
  border-right-color: rgb(0, 0, 0, 0.5);
}
#LogoutButton{
  background-color: rgb(255, 130, 130);
}
#LoginButton{
  background-color: rgb(130, 255, 130);
}
#PlayButton{
  background-color: rgb(130, 226, 255);
}
#LeaderboardsButton{
  background-color: rgb(240, 255, 130);
}
#AboutButton{
  background-color: rgb(130, 130, 255);
}

footer{
  position: fixed;
  bottom: 0px;
  width: 200px;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 5px 20px 5px;
  background-color: rgb(99, 255, 151);
}

main {
  align-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
table {
  table-layout: fixed;
  max-width: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

@media (orientation: portrait){
  header{
    display: flex;
    width: 115%;
    height: 275px;
  }
  footer{
    display: flex;
    flex-direction: column;
    position: sticky;
    width: 115%;
    height: 60px;
  }
  body{
  display: grid;
  grid-template-columns: 0.9fr;
  min-height: 100vh;
  max-height: 100vh;
  }
}

@media (max-width: 1000px){
  header{
    display: flex;
    width: 111.2%;
    height: 275px;
  }
  footer{
    display: flex;
    flex-direction: column;
    position: sticky;
    width: 111.2%;
    height: 60px;
  }
  #RandomBR{
    display: none;
  }
  body{
  display: grid;
  grid-template-columns: 0.9fr;
  min-height: 100vh;
  max-height: 100vh;
  }
}

@media screen and (max-width: 1000px) and (max-height: 600px){
  header{
    display: none;
  }
}
@media screen and (max-height: 500px){
  footer{
    display: none;
  }
}